<html>

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="https://img.icons8.com/fluency/256/domain.png">
    <title>My App-Auhtor</title>
</head>

<body>
    <h1 style="color: #00fd13">Bienvenido a Author</h1>
    <p style="color: #7a009b">Estas en el recurso del author.</p>
    <p style="color: #7a009b">Ramos de la Torre Juan Manuel.</p>
    <p style="color: #7a009b">&#129312; Puedes tocar la siguinte enlace para github</p>
    <p><a href="https://github.com/JuanRamos15/first">Github</a></p>
</body>

</html>